<%- include("partials/navbar.ejs") %>

    <div id="content">
            <div class="p-5">
            <% if(locals.data) {%>
                <div class="p-5 mb-5 border bg-body-tertiary rounded-3 container my-3">
                    <h1 class="text-body-emphasis"><%= data.title %></h1>
                    <p><%= data.content %></p>
                </div>
            <% }%>
            </div>
        </form>
    </div>  

<%- include("partials/footer.ejs") %>