<%- include("partials/navbar.ejs") %>


<div id="content">
    <form class="container my-5 p-5 bg-body-tertiary rounded-3 border" action="/write" method="POST">
            <div class="mb-3">
                <label for="blog-title text-body-emphasis" class="form-label">Title:</label>
                <input class="form-control" name="blog-title" id="blog-title" placeholder="Enter title" required>
            </div>
            <div class="mb-3">
                <label class="form-label text-body-emphasis">Text:</label>
                <textarea class="col-lg-12 mb-4 form-control" name="blog-post" id="blog-post" cols="30" rows="10" placeholder="Enter text" required></textarea>
            </div>
            <button class="btn btn-primary px-5" type="submit">Submit Blog</button>
    </form>
</div> 

<%- include("partials/footer.ejs") %>